<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<body>
    <table>
        <thead>
       <th>Username</th>
       <th>Firstname</th>
       <th>Lastname</th>
       <th>Email</th>
       <th>Password</th>
       <th>Passwordconfirmation</th>

       </thead>

        <tbody>
        {% for details in datarow %}
        <tr>

            <td>{{details.id}}</td>
            <td>{{details.username}}</td>
            <td>{{details.firstname}}</td>
            <td>{{details.lastname}}</td>
            <td>{{details.email}}</td>
            <td>{{details.password}}</td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary" href="{% url 'register' %}">Register </a>
</body>
</html>